.body {
    height: 100vh;
}

.background {
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.wrapper {
    margin: -10px auto;
    height: fit-content;
    width: 860px;
    padding: 25px;
    background-image: url("osrsbackground.jpg");
    text-align: center;
}

.loginbox {
    margin: -10px auto;
    height: 25px;
    width: 760px;
    background-color: #000000;
    border: 1px solid rgb(68, 49, 49);
}

.logintext {
    color: greenyellow;
    text-align: right;
    font: 0.8em sans-serif;
    margin: 5px;
}

.logo {
    margin: 15px auto;
}

.lowercontentbox {
    margin: auto auto;
    height: 100vh;
    width: 800px;
}

.playernumber {
    text-align: center;
    color: white;
    font: 0.8em sans-serif;
}

.lowercontentboxinside {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 800px;
}

.lowercontentboxleft {
    margin: -10px auto;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lowercontentboxright {
    margin: -10px auto;
    height: 500px;
    width: 860px;
}

.signupboxes {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
}

.box1 {
    border-radius: 5px;
    background-image: url("search_box.gif");
    padding: 20px;
    width: 112px;
    height: 58px; 
    font-size: 20px;
    text-align: center;
    margin: 2px;
}

.boxtext {
    color: white;
    font: 0.8em sans-serif;
    font-weight: bolder;
    margin: 6px;
    
}

.boxtextnotbold {
    color: white;
    font: 0.6em sans-serif;
    margin: -5px;
    font-weight: bold;
}

.worldselecttext {
    color: greenyellow;
    text-align: center;
    font: 0.8em sans-serif;
    margin: 5px;
}

.loginbox4lefttop {
    margin: -10px auto;
    height: 30%;
    width: 250px;
    background-color: #000000;
    border: 1px solid rgb(68, 49, 49);
}

.loginbox4leftmid {
    margin: -10px auto;
    height: 38%;
    width: 250px;
    background-color: #000000;
    border: 1px solid rgb(68, 49, 49);
}

.loginbox4leftbottom {
    margin: 0px auto;
    height: 23%;
    width: 250px;
    background-color: #000000;
    border: 1px solid rgb(68, 49, 49);
}

.textforleftboxes {
    text-align: center;
    color: white;
    font: 0.8em sans-serif;
    position: relative;
    top: -20px;
}

.innertextforleftboxes1 {
    color: greenyellow;
    text-align: left;
    font: 0.7em sans-serif;
    position: relative;
    left: 11px;
    top: -175px;
    margin: 5.5px 30px;

}

.innertextforleftboxes2 {
    color: greenyellow;
    text-align: left;
    font: 0.7em sans-serif;
    position: relative;
    left: 11px;
    top: -218px;
    margin: 6px 30px;

}

.innertextforleftboxes3 {
    color: greenyellow;
    text-align: left;
    font: 0.7em sans-serif;
    position: relative;
    left: 11px;
    top: -140px;
    margin: 5.7px 30px;

}

.image1 {
    position: relative;
    top: -35px;
    left: -100px;
}

.image2 {
    position: relative;
    top: -35px;
    left: -100px;
}

.image3 {
    position: relative;
    top: -35px;
    left: -100px;
}

.scrollcontainer {
    height: 100vh;
    width: 800px;
    position: relative;
    top: -400px;
    margin: auto;
}

.scrolltop {
    height: 5%;
    width: 93.1%;
}

.scrollmidcontainer {
    height: fit-content;
    width: 93.2%;
    background-image: url("scrollmiddle.gif");
    text-align: center;
    background-repeat: repeat;
    margin: -36px auto;
}

.scrollbottom {
    height: 5%;
    width: 93.1%;
    position: relative;
    top: 3%;
}

.updatecontainer {
    justify-content: left;
    margin: 15px 100px;
    position: relative;
    left: -30%;
}

.updatetextcontainer {
    width: 480px;
    height: 30%;
    display: block;
    position: absolute;
    left: 69%;
    bottom: 70%;
    padding: 20px 0; 
    font: 1em sans-serif;
    text-align: left;
}

.updatetextcontainer2 {
    width: 480px;
    height: 30%;
    display: block;
    position: absolute;
    left: 35%;
    bottom: 30%;
    padding: 20px 0; 
    font: 1em sans-serif;
    text-align: left;
}

.updatetextcontainer3 {
    width: 480px;
    height: 13%;
    display: block;
    position: absolute;
    left: 35%;
    bottom: 30%;
    padding: 20px 0; 
    font: 1em sans-serif;
    text-align: left;
}

.updatetextcontainer4 {
    width: 480px;
    height: 13%;
    display: block;
    position: absolute;
    left: 35%;
    bottom: 13.5%;
    padding: 20px 0; 
    font: 1em sans-serif;
    text-align: left;
}

.updatetextcontainer5 {
    width: 480px;
    height: 13%;
    display: block;
    position: absolute;
    left: 35%;
    bottom: -3%;
    padding: 20px 0; 
    font: 1em sans-serif;
    text-align: left;
}

.bolded {
    font-weight: bold;
    color: rgb(143, 86, 12);
}

.finalblockcontainer {
    position: absolute;
    bottom: -125%;
    left: 9%;
    width: 780px;
}

.bottomwhite {
    color: rgb(255, 255, 255);
    font: 0.6em sans-serif;
    line-height: 1.2em
}

.jagex {
    position: absolute;
    left: -2%;
    bottom: 80%;
}